<mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
  <mat-label>{{ label() }}</mat-label>
  <mat-select
    [id]="idName()"
    [multiple]="isMultiple()"
    [formControl]="control()"
    [required]="required()"
  >
    <input
      [id]="`${idName()}-search`"
      class="option-search"
      type="text"
      placeholder="Search..."
      (input)="onSearch($event.target.value)"
    />
    @for (option of options(); track $index) {
      <mat-option [value]="option.value" [hidden]="!isMatched(option.label)">{{option.label}}</mat-option>
    }
    @if (isMultiple()) {
      <button type="button" class="clear-button" (click)="clearSelected()">
        <i class="fa-regular fa-square-minus"></i>
        Clear
      </button>
    }
  </mat-select>
  @if (control().touched && control().invalid) {
    <mat-error>{{ error }}</mat-error>
  }
</mat-form-field>
