<div class="flex flex-col justify-center items-center h-screen bg-space-black/50">
  <form [formGroup]="form" (submit)="onSubmit()"
    class="dialog-container max-w-xl">
    <h1 class="font-bold text-2xl">Reset Password</h1>

    <p class="italic text-sm">Enter your new password below.</p>

    <app-form-input class="w-full"
      [control]="passwordControl" type="password" idName="password" label="New Password">
    </app-form-input>

    <app-form-input class="w-full"
      [control]="confirmPasswordControl" type="password" idName="confirmPassword" label="Confirm New Password">
    </app-form-input>

    <div class="mt-4 w-full flex flex-col gap-y-4">
      <div class="flex flex-col">
        <button mat-raised-button color="primary" type="submit">Reset Password</button>
        @if (form.errors?.['serverError']) {
          <mat-error>{{ form.errors!['serverError'] }}</mat-error>
        }
        @if (form.errors?.['passwordMismatch']) {
          <mat-error>{{ form.errors!['passwordMismatch'] }}</mat-error>
        }
      </div>

      <hr class="border-platinum-300">

      <button mat-stroked-button type="button" (click)="navigateToLogin()">
        Back to Login
      </button>
    </div>
  </form>
</div>
