<div class="w-full h-full flex flex-col items-center">
  <app-search [form]="searchForm" [contentFilter]="contentFilter" [sortOptions]="sortOptions"
    (triggerSearch)="onSearch()">
  </app-search>

  <app-table [columns]="columns" [data]="data().items" [roleConfig]="roleConfig" (openCreateForm)="onAdd()"
    (openEditForm)="onEdit($event)" (openDetailForm)="onView($event)" (openDeleteModal)="onDelete($event)"
    (selectItem)="select($event)" (selectAllItems)="selectAll($event)">

    <ng-container table-actions>
      <app-button [disabled]="!validateSelected()" [rounded]="false" (clicked)="createInvoice()">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-receipt"></i>
          <span class="text-nowrap">New Invoice</span>
        </div>
      </app-button>
    </ng-container>

    <app-pagination [itemCount]="data().itemCount" [pageCount]="data().pageCount" [pageNumber]="data().pageNumber"
      (changePageNumber)="onChangePageNumber($event)" (changePageSize)="onChangePageSize($event)">
    </app-pagination>
  </app-table>
</div>
