@import "tailwindcss";

.bg-anti-flash-white {
    background-color: #EEF0F2;
}

.bg-platinum {
    background-color: #DADDD8;
}

.bg-taupe-gray {
    background-color: #9999a1;
}

.bg-dim-gray {
    background-color: #66666e;
}

.bg-ghost-white {
    background-color: #FAFAFF;
}

.bg-alabaster {
    background-color: #ECEBE4;
}

.bg-eerie-black {
    background-color: #1C1C1C;
}