<div class="flex md:flex-row flex-col justify-between items-center pt-2 gap-2">
  <div class="w-full flex md:flex-col md:items-baseline items-center flex-row gap-2 md:gap-0 flex-wrap">
    <p class="flex-1 min-w-fit">{{ pageSummary() }}</p>

    <div class="flex-1 min-w-fit flex flex-wrap items-center justify-end md:justify-start sm:order-3 order-2">
      <label for="pageSize" class="mr-2">Page size:</label>
      <select id="pageSize" name="pageSize" class="border border-platinum-300 rounded-md w-16 px-2 py-0" (change)="updatePageSize($event)">
        @for (size of pageSizes; track $index) {
          <option [value]="size">{{ size }}</option>
        }
      </select>
    </div>
  </div>

  <div class="flex gap-2 justify-center">
    <button [disabled]="pageNumber() === 1" type="button" class="page-button" (click)="updatePageNumber(pageNumber() - 1)">
      Prev
    </button>

    <div class="hidden md:flex items-center justify-center gap-2">
      @for (page of pages(); track $index) {
        @if (page) {
          <button type="button"
            [class.bg-space-black]="page === pageNumber()"
            [class.text-white]="page === pageNumber()"
            [class.shadow-none]="page === pageNumber()"
            [class.border-transparent]="page === pageNumber()"
            class="page-button w-10" (click)="updatePageNumber(page)">
            {{ page }}
          </button>
        } @else {
          <span class="page-button w-10 pointer-events-none">
            ...
          </span>
        }
      }
    </div>

    <div class="flex items-center md:hidden">
      <p class="text-center">
        Page <strong>{{ pageNumber() }}</strong> of <strong>{{ pageCount() }}</strong>
      </p>
    </div>

    <button [disabled]="pageNumber() === pageCount()" type="button" class="page-button" (click)="updatePageNumber(pageNumber() + 1)">
      Next
    </button>
  </div>
</div>
