<div
  class="flex sm:flex-row flex-col items-center sm:items-start gap-2 sm:gap-4 mx-auto max-w-lg rounded-lg bg-ghost-white p-4 shadow-lg">
  <span class="size-8 min-w-8 flex items-center justify-center rounded-full text-white"
    [class]="config[data.type].iconColor">
    <i class="fa-solid" [class]="config[data.type].icon"></i>
  </span>
  <div class="flex flex-col items-center sm:items-start">
    <p class="font-bold text-lg" [class]="config[data.type].headerColor">
      {{ config[data.type].header }}
    </p>

    <p class="pt-2 pb-4">
      {{ data.message }}
    </p>

    <div class="flex flex-col sm:flex-row-reverse gap-3 w-full">
      <app-button type="button" [variant]="config[data.type].buttonStyle" (clicked)="confirm()">Confirm</app-button>

      @if (data.type !== 'success') {
        <app-button type="button" variant="secondary" customStyles="!border-space-black !text-space-black" (clicked)="close()">Cancel</app-button>
      }
    </div>
  </div>

</div>
