<form id="create-edit-form" (submit)="submit($event)"
  class="w-screen max-h-screen overflow-auto max-w-6xl bg-ghost-white p-4 md:p-8 rounded-lg shadow-md flex flex-col items-center">
  <div class="mb-8 w-full flex flex-wrap-reverse items-center justify-between relative">
    <h2 class="grow text-2xl font-semibold sm:text-center overflow-hidden">{{ title() }}</h2>
    <div class="sm:absolute sm:right-0 flex flex-1 justify-end">
      <app-button type="button" variant="icon" (clicked)="closeDialog.emit()">
        <i class="fa-solid fa-xmark"></i>
      </app-button>
    </div>
  </div>

  <div class="w-full">
    <ng-content></ng-content>
  </div>

  <app-dialog-buttons>
    <ng-content select="[custom-buttons]"></ng-content>

    <app-button type="submit" variant="primary">Save</app-button>

    <app-button type="button" variant="secondary" (clicked)="resetForm.emit()">Reset</app-button>
  </app-dialog-buttons>
</form>
