<table mat-table [dataSource]="data()">
  <!-- Checkbox column -->
  @if (checkbox()) {
    <ng-container matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef class="p-0!">
        <mat-checkbox
          (change)="selectAll()"
          [checked]="selectedItems.hasValue() && isAllSelected()"
          [indeterminate]="selectedItems.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let row" class="p-0!">
        <mat-checkbox
          (change)="selectedItems.toggle(row)"
          [checked]="selectedItems.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  }

  <!-- Data columns -->
  @for (col of columns(); track col) {
    <ng-container [matColumnDef]="getColumnKey(col)">
      <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
      <td mat-cell *matCellDef="let item"> {{getColumnValue(item, col) | formatCell: col.type}} </td>
    </ng-container>
  }

  <tr *matNoDataRow>
    <td [colSpan]="columnsToDisplay().length">No data</td>
  </tr>

  <ng-container matColumnDef="menu" stickyEnd>
    <th mat-header-cell *matHeaderCellDef class="p-0!">
      @if (tableMenuItems().length > 0) {
        <button mat-icon-button [matMenuTriggerFor]="tableMenu.menu()!">
          <mat-icon>more_vert</mat-icon>
        </button>
        <app-menu #tableMenu [items]="tableMenuItems()" (action)="onMenuAction($event)"></app-menu>
      }
    </th>

    <td mat-cell *matCellDef="let item" class="p-0!">
      @if (rowMenuItems().length > 0) {
        <button mat-icon-button [matMenuTriggerFor]="rowMenu.menu()!">
          <mat-icon>more_vert</mat-icon>
        </button>
        <app-menu #rowMenu [items]="rowMenuItems()" (action)="onMenuAction($event, item)"></app-menu>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay(); sticky: true"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay()"></tr>
</table>
