<div class="w-full h-full flex flex-col items-center">
  <app-search [form]="searchForm" [contentFilter]="contentFilter" [sortOptions]="sortOptions"
    (triggerSearch)="onSearch()">
  </app-search>

  <app-table [columns]="columns" [data]="data().items" [roleConfig]="roleConfig" (openCreateForm)="onAdd()"
    (openEditForm)="onEdit($event)" (openDetailForm)="onView($event)" (openDeleteModal)="onDelete($event)">

    <app-pagination [pageCount]="data().pageCount" [pageNumber]="data().pageNumber"
      (changePageNumber)="onChangePageNumber($event)" (changePageSize)="onChangePageSize($event)">
    </app-pagination>
  </app-table>
</div>
