<app-add-edit-container [title]="title" (submitForm)="onSubmit()" (resetForm)="onReset()" (closeDialog)="onClose()">
  <div dialog-content class="form-grid">
    <app-form-input idName="username"
      type="text" label="Username"
      [control]="form.controls.username"
      [required]="true">
    </app-form-input>

    <app-form-input idName="fullname"
      type="text" label="Full Name"
      [control]="form.controls.fullname"
      [required]="true">
    </app-form-input>

    @if (isEditMode) {
      <label for="passwordChange" class="sm:col-span-2 flex items-center gap-2 text-sm">
        <input id="passwordChange" type="checkbox" [checked]="changingPassword()" (change)="togglePasswordChange($event.target.checked)"
          class="w-4 h-4 rounded-sm" />
        Change Password
      </label>
    }

    <app-form-input idName="password"
      type="password" label="Password"
      [control]="form.controls.password"
      [required]="true">
    </app-form-input>

    <app-form-input idName="confirmPassword"
      type="password" label="Confirm Password"
      [control]="form.controls.confirmPassword"
      [required]="true">
    </app-form-input>

    <app-form-select idName="gender"
      label="Gender" [options]="genders"
      [control]="form.controls.gender">
    </app-form-select>

    <app-form-input idName="dateOfBirth"
      type="date" label="Date of Birth"
      [control]="form.controls.dateOfBirth"
      [required]="true">
    </app-form-input>

    <app-form-input idName="email"
      type="email" label="Email"
      [control]="form.controls.email">
    </app-form-input>

    <app-form-input idName="phoneNumber"
      type="text" label="Phone Number"
      [control]="form.controls.phoneNumber"
      [required]="true">
    </app-form-input>

    <app-form-input idName="citizenIdNumber"
      type="text" label="Citizen ID Number"
      [control]="form.controls.citizenIdNumber">
    </app-form-input>

    @if (isEditMode && isAdmin) {
      <app-form-input idName="score"
        type="number" label="Score"
        [control]="form.controls.score">
      </app-form-input>
    }

    <app-form-textarea class="sm:col-span-2" idName="address"
      label="Address"
      [control]="form.controls.address">
    </app-form-textarea>

    @if (isAdmin) {
      <app-form-select class="sm:col-span-2" idName="roleIds"
        label="Roles" [options]="roles()" [isMultiple]="true"
        [control]="form.controls.roleIds">
      </app-form-select>
    }
  </div>

  @if (form.getError('serverError')) {
    <mat-error dialog-content>
      {{ form.getError('serverError') }}
    </mat-error>
  }
</app-add-edit-container>
