<div class="flex justify-center">
  <app-button variant="icon" [cdkMenuTriggerFor]="menu" [cdkMenuPosition]="positions">
    <i class="fa-solid fa-ellipsis"></i>
  </app-button>
</div>

<ng-template #menu>
  <div cdkMenu class="flex flex-col bg-platinum-50 border border-platinum-300 rounded-md shadow-xl">
    <div class="flex flex-col *:min-w-full">
      <app-button [hidden]="!canView()" variant="simple" (clicked)="viewDetail.emit()">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-circle-info text-steel-blue"></i> View
        </div>
      </app-button>

      <app-button [hidden]="!canEdit()" variant="simple" (clicked)="updateItem.emit()">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-pen-to-square text-carrot-orange"></i> Edit
        </div>
      </app-button>
    </div>

    <div class="flex flex-col *:min-w-full" [hidden]="!canDelete()">
      <hr class="border-platinum-300" />

      <app-button variant="simple" (clicked)="deleteItem.emit()">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-trash text-vermilion"></i> Delete
        </div>
      </app-button>
    </div>

  </div>
</ng-template>
