<form id="create-edit-form"
  class="w-screen max-h-screen overflow-auto max-w-6xl bg-ghost-white p-4 md:p-8 rounded-lg shadow-md flex flex-col items-center">
  <div class="mb-8 w-full flex flex-wrap-reverse items-center relative">
    <h2 class="sm:flex-1 text-2xl font-semibold sm:text-center overflow-hidden">{{ data.title }}</h2>
    <div class="sm:absolute sm:right-0 flex flex-1 justify-end">
      <button type="button" class="w-10 h-10 hover:bg-platinum-100" (click)="close()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

  <div class="w-full flex flex-col md:flex-row items-center gap-8">
    <div class="flex flex-col">
      <app-image-field idName="image" labelText="Image"></app-image-field>
    </div>

    <div class="w-full flex-1 gap-4 grid grid-cols-1 sm:grid-cols-2">
      <div class="flex flex-col">
        <app-input-field inputType="text" idName="field1" labelText="Field 1"></app-input-field>
        <span id="field1-error" class="error-text hidden italic text-sm text-vermilion"></span>
      </div>
      <div class="flex flex-col">
        <app-multiselect-field idName="field2" labelText="Field 2"></app-multiselect-field>
        <span id="field2-error" class="error-text hidden italic text-sm text-vermilion">Field 2 is
          required</span>
      </div>
      <div class="flex flex-col">
        <app-input-field inputType="number" idName="field3" labelText="Field 3"></app-input-field>
      </div>
      <div class="flex flex-col">
        <app-select-field idName="field4" labelText="Field 4"></app-select-field>
      </div>
      <div class="flex flex-col">
        <app-input-field inputType="datetime-local" idName="field5" labelText="Field 5"></app-input-field>
      </div>
      <div class="flex flex-col">
        <app-input-field inputType="date" idName="field6" labelText="Field 6"></app-input-field>
      </div>
      <div class="flex flex-col">
        <app-input-field inputType="time" idName="field7" labelText="Field 7"></app-input-field>
      </div>
      <div class="flex flex-col">
        <app-input-field inputType="time" idName="field8" labelText="Field 8"></app-input-field>
      </div>
      <div class="flex flex-col sm:col-span-2">
        <app-textarea-field idName="field9" labelText="Field 9"></app-textarea-field>
      </div>
    </div>
  </div>

  <div class="mt-8 flex justify-center gap-4 *:w-20">
    <button type="button" onclick="onSubmit(event)"
      class="px-4 py-2 text-white rounded-md bg-steel-blue-500 hover:bg-steel-blue-600 focus:outline-none focus:ring-2 focus:ring-steel-blue">Save</button>
    <button type="reset" onclick="onReset(['field2-display'])"
      class="px-4 py-2 border border-steel-blue rounded-md hover:bg-platinum-100 text-steel-blue focus:outline-none">Reset</button>
  </div>
</form>