<app-create-edit [formGroup]="form" [title]="data.title" (submitForm)="onSubmit()" (closeDialog)="close()">
  <div class="create-edit-layout">
    <div class="w-full flex-1 gap-4 grid grid-cols-1 sm:grid-cols-2">
      <div>
        <app-input-field formControlName="name"
          inputType="text" idName="name" labelText="Name">
        </app-input-field>
        @if (form.get('name')?.touched && form.get('name')?.hasError('required')) {
          <p class="error-text">Name is required</p>
        }
      </div>

      <div>
        <app-select-field formControlName="seatType" idName="seatType" labelText="Seat Type"
          [options]="seatTypes">
        </app-select-field>
      </div>

      <div>
        <app-input-field formControlName="seatRow"
          inputType="number" idName="seatRow" labelText="Row">
        </app-input-field>
        @if (form.get('seatRow')?.touched && form.get('seatRow')?.hasError('required')) {
          <p class="error-text">Row is required</p>
        }
      </div>

      <div>
        <app-input-field formControlName="seatColumn"
          inputType="number" idName="seatColumn" labelText="Column">
        </app-input-field>
        @if (form.get('seatColumn')?.touched && form.get('seatColumn')?.hasError('required')) {
          <p class="error-text">Column is required</p>
        }
      </div>
    </div>
  </div>
</app-create-edit>
