@if (!data().length) {
<div class="border border-platinum-300 h-full bg-platinum-50 flex flex-col items-center justify-center">
  <p class="font-bold text-2xl">No data available</p>
</div>
} @else {
<!-- Table -->
<div class="overflow-auto border border-platinum-300">
  <table class="w-full bg-platinum-50 border-separate border-spacing-0">
    <thead class="text-left sticky top-0 z-10">
      <tr class="bg-platinum-200 *:border-b *:border-platinum-300">
        <th [hidden]="!hasCheckbox()" class="min-w-8 w-8 border-r sticky left-0 bg-platinum-200">
          <div class="flex items-center justify-center">
            <input class="w-4 h-4 text-steel-blue-500 bg-platinum-50 border border-platinum-300 rounded-sm focus:ring-steel-blue-500 focus:ring-2"
              type="checkbox" (change)="selectAll()" [checked]="isAllSelected()">
          </div>
        </th>

        @for (column of columns(); track $index) {
          <th class="min-w-40 px-4 py-2">{{ column.label }}</th>
        }

        <th class="border-l sticky right-0 bg-platinum-200 w-0">
          <button [hidden]="!canCreate()" type="button" (click)="addItem()"
            class="min-w-20 w-full space-x-2 p-2 bg-bright-fern-500 hover:bg-bright-fern-600 text-white font-semibold">
            <i class="fa-solid fa-plus"></i>
            <span>Add</span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody class="*:border-b *:border-platinum-300">
      @for (item of data(); track $index) {
      <tr class="group hover:bg-platinum-100 *:border-b *:border-platinum-300 last:*:border-b-0">
        <td [hidden]="!hasCheckbox()" class="border-r sticky left-0 bg-platinum-50">
          <div class="flex items-center justify-center">
            <input type="checkbox" class="w-4 h-4 text-steel-blue-500 bg-platinum-50 border border-platinum-300 rounded-sm focus:ring-steel-blue-500 focus:ring-2"
              (change)="select(item, $index)" [checked]="selectedItems.get($index)">
          </div>
        </td>

        @for (column of columns(); track $index) {
          <td class="px-4 py-2">{{ item[column.key] | formatCell: column.type }}</td>
        }

        <td class="sticky right-0 bg-platinum-50 group-hover:bg-platinum-100 border-platinum-300 border-l">
          <div class="flex w-fit justify-center gap-x-2 mx-2">
            <button [hidden]="!canView()" type="button" (click)="viewDetail(item.id)">
              <i class="fa-solid fa-circle-info text-steel-blue"></i>
            </button>

            <button [hidden]="!canEdit()" type="button" (click)="updateItem(item.id)">
              <i class="fa-solid fa-pen-to-square text-carrot-orange"></i>
            </button>

            <button [hidden]="!canDelete()" type="button" (click)="deleteItem(item.id)">
              <i class="fa-solid fa-trash text-vermilion"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Pagination -->
<ng-content></ng-content>
}
